@import url("https://fonts.googleapis.com/css2?family=Forum&family=Raleway:wght@100;200;300;400&family=Poiret+One&family=Raleway+Dots&family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  color: #fff;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
/* background */


.sun-cont {
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: 7%;
  left: 50%;

}

.sun {
  width: 600px;
  height: 600px;
  position: absolute;
  margin-left: -300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 141, 0, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
  box-shadow: 0 0 30px 20px #fd8f3a;
  z-index: 6;
}

.glow {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: scale(0);
  animation: glowing 5s ease-in-out infinite;
}

.glow1 {
  background: rgba(254, 170, 79, 0.8);
  width: 650px;
  height: 650px;
  margin: -325px 0 0 -325px;
  z-index: 5;
  animation-delay: 1s;
}

.glow2 {
  width: 700px;
  height: 700px;
  margin: -350px 0 0 -350px;
  background: rgba(254, 180, 98, 0.6);
  z-index: 4;
  animation-delay: 1.5s;
}

.glow3 {
  width: 750px;
  height: 750px;
  margin: -375px 0 0 -375px;
  background: rgba(255, 189, 118, 0.4);
  z-index: 3;
  animation-delay: 2s;
}

.glow4 {
  width: 800px;
  height: 800px;
  margin: -400px 0 0 -400px;
  background: rgba(255, 199, 137, 0.2);
  z-index: 2;
  animation-delay: 2.5s;
}

/* night sky */
.mountain {
  position: fixed;
  bottom: -250px;
  width: 100%;
  z-index: 7;
}

.dusk {
  width: 100%;
  height: 200%;
  background: linear-gradient(
    180deg,
    rgba(29, 12, 60, 1) 30%,
    rgba(26, 1, 42, 1) 50%,
    rgba(253, 29, 29, 0.8) 82%,
    rgba(255, 98, 0, 0.8) 99%
  );
  position: absolute;
  top: 0;
  z-index: 1;
  overflow-y: hidden;
}

.stars {
  position: absolute;
  top: -70px;
  width: 100%;
  z-index: 2;
  opacity: 0.7;
}

@media (max-width: 1100px) {
  .stars {
    top: 0;
    transform: scale(1.5);
    opacity: 1;
  }
}

.shooting-star {
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  width: 200px;
  border-radius: 100px;
  background: linear-gradient(
    -90deg,
    rgb(216, 215, 253, 1) 50%,
    rgba(251, 251, 251, 0) 100%
  );
  filter: drop-shadow(0 0 5px #ffc400);
  z-index: 3;
  transform: translate(0, -60px) rotate(145deg);
  animation: falling 2s ease-in-out infinite;
}

.ss2 {
  right: 30%;
  animation-delay: 0.5s;
}

.ss3 {
  right: 50%;
  animation-delay: 1s;
}

.ss4 {
  right: 20%;
  animation-delay: 1.5s;
}

@media (max-width: 1300px) {
  .mountain {
    bottom: 0;
  }
  .sun-cont {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin: 0;
    transform: scale(0.6) translate(-30%, -50%);
  }
}

@media (max-width: 850px) {
  .sun-cont {
    transform: scale(0.5) translate(-50%, 30%);
  }
  .stars {
    transform: scale(1.3);
    opacity: 1;
    width: 200%;
  }
}

/* nav links */
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 20;
  font-family: "Poiret One";
}

.dark-nav-bar {
  background: #111111;
}

.nav-bar ul {
  height: 100px;
}

.list a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  position: relative;
}

.list {
  list-style-type: none;
  width: 100px;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.list:hover a:after {
  content: "";
  width: 65px;
  height: 65px;
  position: absolute;
  border: 1px solid #fff;
  bottom: 50%;
  left: 50%;
  margin: 0 0 -32.5px -32.5px;
  transform: rotate(45deg);
  animation: appear 0.5s ease-in-out;
}

#home {
  margin-right: auto;
}

#home img {
  width: 30px;
}

.active a:after {
  content: "";
  width: 65px;
  height: 65px;
  position: absolute;
  border: 1px solid #fff;
  bottom: 50%;
  left: 50%;
  margin: 0 0 -32.5px -32.5px;
  transform: rotate(45deg);
}

@media (max-width: 770px) {
  .nav-bar ul {
    margin: 0;
    padding: 0;
    height: 100px;
  }
  #home {
    margin: 0;
  }

  .active a:after {
    width: 55px;
    height: 55px;
    margin: 0 0 -27.5px -27.5px;
  }

  .list a {
    font-size: 1.2rem;
  }

  .list:hover a:after {
    width: 60px;
    height: 60px;
    margin: 0 0 -30px -30px;
  }
}

/* welcome section */
.name-card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 150px;
  left: 50px;
  z-index: 10;
}

h1 {
  font-family: "Montserrat", cursive;
  font-size: 6.5rem;
  margin: 0;
}

h2 {
  font-family: "Poiret One";
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 980px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
}

@media (max-width: 580px){
 .name-card{
   left: 0;
   align-items: center;
 }
}


/* projects section */

.show-project-tile {
  position: relative;
  top: 0;
  margin: 160px 0 0 0;
  padding-top: 20px;
  width: 100%;
  background: rgba(172, 155, 155, 0.2);
  border-left: none;
  border-right: none;
  z-index: 11;
}

/* about section */
.about-cont {
  background: rgba(172, 155, 155, 0.2);
  position: relative;
  top: 170px;
  z-index: 12;
}

.prof-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* contact section */
.contact-cont{
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 13;
  background: rgba(51, 46, 46, 0.3);
  height: 500px;
}

.mail{
  animation: tada 2s ease-in-out infinite;
}

/* for showing up a section*/
.collapsing-show {
  animation: fadeInDownBig 1s ease-in-out;
}

/* animations */
@keyframes falling {
  0% {
    transform: translate(0, -60px) rotate(145deg);
    width: 0px;
  }
  50% {
    width: 100px;
  }
  80% {
    width: 100px;
    transform: translate(-2000px, 1500px) rotate(145deg);
  }
  100% {
    transform: translate(-2000px, 1500px) rotate(145deg);
    width: 100px;
  }
}

@keyframes glowing {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: scale(0) rotate(0);
  }
  30% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.1) rotate(45deg);
  }
}
